// COLOR PALETTE
$appGreen: #499956;
$appYellow: #fbdc46;
$appBlue: #214080;
$appPink: #993659;
$appRed: #df583e;

$appGrey: #2d2d2c;

// Media breakpoints
$break-small: 520px;
$break-large: 1370px;

// APP COLORS
$appColor1: #FFBC67;
$appColor2: #DA727E;
$appColor3: #AC6C82;
$appColor4: #685C79;
$appColor5: #455C7B;
